<div class="container">
    @if (loading) {
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    }

    @if (!loading) {
    <div class="card" style="width: 18rem;">
        <img src="{{product?.image}}" class="card-img-top" alt="{{product?.title}}">
        <h3 class="card-text"> {{product?.title}} </h3>
        <p class="card-text"> {{product?.price|currency}} </p>
        <div class="card-body">
            <p class="card-text">{{product?.description}}>
        </div>
    </div>
    }
</div>