img {
    width: 100%;
    /* Cambia esto al ancho que desees */
    height: 200px;
    /* Cambia esto a la altura que desees */
    object-fit: fill;
    /* Esto recortará la imagen para que se ajuste al tamaño especificado, manteniendo su aspecto */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card {
    margin-top: 20px;
}

.card:hover img {
    transform: scale(1.1);
}